{
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "noInterop": true
  },
  "env": {
    "loose": true,
    "targets": "> 0.25%, not dead"
  },
  "jsc": {
      "loose": true,
      "parser": {
        "syntax": "ecmascript",
        "jsx": true,
        "numericSeparator": false,
        "classPrivateProperty": false,
        "privateMethod": false,
        "classProperty": false,
        "functionBind": false,
        "decorators": false,
        "decoratorsBeforeExport": false
      },
      "transform": {
        "react": {
          "pragma": "React.createElement",
          "pragmaFrag": "React.Fragment",
          "throwIfNamespace": true,
          "development": false,
          "useBuiltins": false
        }
      }
    }
}
